@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600&display=swap');

:root {
  --transitionDuration: 0.3s;
}

body {
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.MuiPickersPopper-paper.MuiPaper-elevation8 {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
}

.pdfViewerContainer {
  height: 100%;
  overflow-y: auto;
}

.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}

#notifications-centre .MuiPopover-paper {
  top: 0 !important;
}

.react-pdf-button {
  margin-right: 10px;
  background: #3f51b5;
  color: white;
  border: none;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px #ccc;
}

.rpv-default-layout__container {
  border: none !important;
  background-color: #e5e5e5;
}

#rpv-core__popover-body-inner-toolbar-more-actions,
#rpv-core__popover-body-inner-zoom {
  max-height: 1000px !important;
}

.default-layout__sidebar,
.rpv-default-layout__sidebar,
#rpv-default-layout__sidebar-content {
  border: none !important;
  justify-content: center;
}

.rpv-default-layout__sidebar--opened {
  border-right: 1px solid rgba(181, 181, 181, 0.5) !important;
  width: 150px !important;
}

.rpv-default-layout__sidebar-headers,
.rpv-core__splitter--resizing,
.rpv-toolbar__left,
.rpv-core__splitter,
.rpv-toolbar__right,
button[aria-label='Zoom document'] .rpv-zoom__popover-target-arrow,
#rpv-core__tooltip-body-zoom-in,
#rpv-core__tooltip-body-zoom-out {
  display: none !important;
}

.rpv-default-layout__sidebar-content {
  padding-top: 20px !important;
  background-color: #f6f7f8 !important;
}

.rpv-default-layout__body,
.rpv-core__inner-page {
  background-color: #f6f7f8 !important;
}

.rpv-default-layout__body {
  padding: 0 20px 20px;
}

.rpv-core__inner-page {
  padding: 0 !important;
}

.rpv-core__canvas-layer {
  padding-top: 20px;
}

.rpv-core__page-layer {
  box-shadow: none !important;
}

.rpv-thumbnail__item::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  border: 3px solid #3c6afb;
  opacity: 0;
  z-index: 2;
}

.rpv-thumbnail__item--selected,
.rpv-thumbnail__item:focus,
.rpv-thumbnail__item:hover {
  background: none !important;
}

.rpv-thumbnail__item--selected::before,
.rpv-thumbnail__item:hover::before {
  opacity: 1;
}

.rpv-thumbnail__index {
  padding: 0 !important;
  font-weight: 500;
  font-size: 12px !important;
  line-height: 14px;
  color: #979797;
  margin-top: 3px;
  margin-bottom: 17px;
}

.rpv-thumbnail__item {
  position: relative;
  box-sizing: border-box !important;
  padding: 0 !important;
}

.rpv-core__splitter--resizing,
.rpv-core__splitter:hover {
  cursor: default !important;
  background: none !important;
  width: 0 !important;
}

.rpv-toolbar__center {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 5;
  transform: translateX(-50%);
  height: 36px;
  border-radius: 4px;
  background-color: #242424;
  width: 207px;
}

.sidebar-opened .rpv-toolbar__center {
  left: calc(50% + 75px);
}

.rpv-default-layout__toolbar {
  height: 0;
  padding: 0 !important;
  border: none !important;
}

button[aria-label='Zoom document'] {
  pointer-events: none;
}

button[aria-label='Zoom document'] .rpv-zoom__popover-target-scale {
  margin-right: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

button[aria-label='Zoom out'] svg,
button[aria-label='Zoom in'] svg {
  opacity: 0;
}

button[aria-label='Zoom out'],
button[aria-label='Zoom in'] {
  padding: 0;
  width: 35px;
  height: 35px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}

.rpv-toolbar__center div[aria-haspopup='menu'] {
  width: 48px;
  text-align: center;
}

button[aria-label='Zoom out'] {
  /* background-image: url('/assets/zoom-out.svg'); */
}

button[aria-label='Zoom in'] {
  /* background-image: url('/assets/zoom-in.svg'); */
}

.Slider-track-3 {
  background-color: #b5b5b5 !important;
  opacity: 1 !important;
}

.Slider-pointer-4 {
  background-color: #fff !important;
}

[aria-label='add-recipient-button'] .MuiPopover-paper {
  width: auto !important;
  transform-origin: 0 0 !important;
  transform: translateX(50%) !important;
}

.types-menu .MuiPopover-paper {
  border-radius: 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
